.MainContainer1 {
  background-color: #ececec;
}
.MainContainer2{
  display: flex;
  flex-direction: row;
  gap:30px;
  width: 100%;
  height: 50%;
  margin: 90px 0px;
}

.MainContainer2 p {
  line-height: 1.445em;
  font-family: 'Nunito Sans', sans-serif;
  letter-spacing: normal;
  font-weight: 350;
  color: #5a6072;
  /* width: 88%; */
  font-size: 18px !important;
}
.MainContainer2 h2 {
  font-size: xx-large;
  font-family: 'Nunito Sans', sans-serif;
  line-height: 1.3;
  letter-spacing: normal;
  font-weight: bold;
  color: var(--badge-color);
  width: 100%;
  margin-bottom: 50px;
}
.CardImgBox{
 display: flex;
 align-items: center;
}
.hero {
  background-color: var(--bacgrounds);
  height: 34rem;
}

.herocontainer {
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding: 1.5rem;
  padding-right: unset;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.heroleft {
  padding: 1rem 0.5rem 1rem 1rem;
  border-radius: 0.125rem;
  justify-content: center;
  flex-direction: column;
  display: flex;
  /* border: 1px solid red; */
}

.hero h1 {
  font-family: 'Nunito Sans', sans-serif;
  letter-spacing: -2px;
  color: var(--textcolor);
  font-size: 65px;
  width: 100%;
  font-weight: 700;
  margin: 40px 0px 60px 0px;
  /* border: 1px solid black; */
}

.hero p {
  color: var(--textcolor);
  font-family: 'Nunito Sans', sans-serif;
  line-height: calc(1em + 8px);
  line-height: calc(1em + 8px);
  font-weight: 600;
  font-size: 23px;
  margin-bottom: 2rem;
  margin-top: -1rem;
  /* border: 1px solid black; */
}

.susp a {
  font-size: larger;
  margin-top: 20px;
  line-height: 1.75rem;
  border-radius: 0.25rem;
  color: var(--hdcolor);
  font-weight: 550;
  padding: 15px 55px;
  background-color: var(--btncolor);
  display: inline-block;
  font-family: 'Nunito Sans', sans-serif;
  letter-spacing: 0.5px;
  cursor: pointer;
  -webkit-transition: ease-out 0.3s;
  -moz-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}

.susp a:hover {
  box-shadow: inset 220px 0 0 0 #33a196;
  color: #ffffff;
}

.heroimage {
  padding: 1rem;
  /* padding-right: unset; */
  justify-content: center;
  align-items: center;
  display: flex;
  /* border: 1px solid green; */
  width: 60%;
  /* background-color: #33a196; */
}

.objectcontain {
  /* height: 34.6rem; */
  margin-top: 100px;
  /* width: 550px; */
  padding-left: unset;
  /* margin-right: -150px; */
  /* border: 1px solid black; */
  object-fit: contain;
  /* max-height: 420px; */
  max-width: 110%;
}

.SmallInfo {
  /* text-align: center; */
  font-family: 'Nunito Sans', sans-serif;
  line-height: calc(1em + 8px);
  font-weight: 500;
  font-size: 24px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.3rem auto;
  /* background-color: #ececec; */
  padding: 25px 0px;
}

.SmallInfo > p {
  text-align: center;
  color: #39414a;
  font-size: 18px;
  width: 100%;
}

.CardInfo {
  width: 90%;
  display: flex !important;
  justify-content: center;
  align-items: center;
  flex-direction: row !important;
  gap:100px;
  height: 100%;
  margin: 50px 0px
}

.CardBox {
  /* border: 1px solid green; */
  width: 30%;
  padding: 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.CardBox > p {
  /* border: 1px solid green; */
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  margin-top: 30px;
  color: #ffffff;
  height: 20px;
}

.MedicalBanner {
  /* border: 1px solid red; */
  margin: 0 auto;
  margin-top: 40px;
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.ImgAlign {
  object-fit: cover;
  /* object-position: 10% 5%; */
}
.CardImg{
  margin-left: 100px;
}

.ImgAlignPara {
  /* border: 1px solid red; */
  position: absolute;
  top: 45%;
  font-size: 24px;
  font-weight: 700;
  color: white;
  margin-bottom: 5px;
  width: 60%;
  margin: 0px 20px;
  /* background-color: #2b5a6e; */
  /* background-color: var(--darkgreen);  */
  padding: 15px;
}

.MoreResources {
  /* border: 1px solid green; */
  padding: 0px 0px;
}

.MoreResources > h1 {
  /* border: 1px solid green; */
  margin: 50px 0px;
  text-align: center;
  color: var(--darkgreen);
}

.ImageCardList {
  margin-top: 40px;
  /* border: 1px solid green; */
}

.Mainheader {
  /* border: 1px solid pink; */
  height: auto;
  padding: 80px 40px;
  display: flex;
  background-color: var(--lightgreen);
  flex-direction: column;
  width: 100%;
  /* align-items: center; */
  justify-content: center;
}
.Mainheader > h2 {
  width: 75%;
  font-size: x-large;
  font-weight: 800;
}

@media screen and (max-width: 950px) {
  .Mainheader > h2 {
    width: 75%;
    font-size: x-large;
    font-weight: 800;
  }
}

@media screen and (max-width: 770px) {
  .Mainheader {
    height: auto;
    padding: 60px 20px;
  }
  .Mainheader > h2 {
    width: 95%;
    font-size: larger;
    font-weight: 800;
  }
}

@media screen and (min-width: 1314px) {
  .ImgAlignPara {
    /* border: 1px solid red; */
    top: 35%;
    font-size: 32px;
    width: 55%;
  }
}

@media screen and (max-width: 1313px) {
  .ImgAlignPara {
    /* border: 1px solid black; */
    top: 35%;
    font-size: 22px !important;
    width: 60%;
  }
}

@media screen and (max-width: 1000px) {
  .SmallInfo {
    width: 100%;
    /* margin: 1.5rem auto; */
    /* padding: 10px 0px; */
    /* border: 1px solid green; */
  }

  .SmallInfo > p {
    font-size: 18px;
    /* width: 80%; */
  }
}

@media screen and (max-width: 970px) {
  .CardInfo {
    /* border: 1px solid red; */
    width: 100%;
    display: flex !important;
    justify-content: space-between;
    margin: 0 auto;
    flex-direction: column !important;
  }

  .CardBox {
    /* border: 1px solid green; */
    width: 70%;
    padding: 20px;
    text-align: center;
    margin: 0 auto;
  }
  .ImgAlignPara {
    /* border: 1px solid red; */
    top: 33%;
    font-size: 22px;
    width: 85%;
  }
}

@media screen and (max-width: 768px) {
  .SmallInfo {
    margin: 1rem auto;
  }
  .SmallInfo > p {
    font-size: 17px;
    width: 90%;
  }
  .ImgAlignPara {
    /* border: 1px solid green; */
    top: 20%;
    font-size: 15px;
    width: 75%;
  }
}

@media screen and (max-width: 622px) {
  .ImgAlignPara {
    top: 3%;
    font-size: 18px !important;
    width: 85%;
    margin: 0px;
    /* border: 1px solid red; */
  }
}

@media screen and (max-width: 560px) {
  .SmallInfo {
    margin: 0.8rem auto;
  }

  .SmallInfo > p {
    font-size: 16.5px;
    width: 90%;
  }
}

@media screen and (max-width: 531px) {
  .MainContainer1 {
    /* border: 1px solid red; */
    margin-top: 30px;
  }
}

@media screen and (max-width: 555px) {
  .ImgAlignPara {
    top: 5%;
    font-size: 15px !important;
    width: 85%;
  }
}

@media screen and (max-width: 438px) {
  .ImgAlignPara {
    /* top: 20%; */
    font-size: 10px;
    width: 95%;
  }
}
