/* stylelint-disable at-rule-no-unknown */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* stylelint-enable at-rule-no-unknown */

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {

 /*  * {
    @apply border-bottom;
  }

  body {
    @apply bg-background text-foreground;
  }
  */
}

.ant-collapse-header {
  font-size: 24px;
  color: #ffffff;
  font-weight: 500;
  padding: 12px 20px;
}

.ant-collapse-content {
  background-color: #004f73;
}

.ant-collapse-content-box {
  color: #ffffff;
  font-size: 18px;
  padding: 10px 20px;
  font-weight: 300;
  text-align: start;
}

.ant-collapse > .ant-collapse-item > .ant-collapse-header {
  padding-left: 20px;
  text-align: start;
  color: white;
}

.ant-collapse-borderless>.ant-collapse-item {
  border: none;
}

.ant-collapse>.ant-collapse-item >.ant-collapse-header .ant-collapse-header-text{
  width: 90%;
}

.ant-collapse-item >.ant-collapse-header .ant-collapse-expand-icon{
  display: block !important;
  height: 60px;
  width: 60px;
}


.ant-collapse-borderless>.ant-collapse-item:last-child .ant-collapse-header {
  border-radius: 10px !important;
}

.ant-collapse-borderless>.ant-collapse-item:last-child {
  border-radius: 10px !important;
}
.ant-tabs-top >.ant-tabs-nav {
  margin: 0;
}
.ant-tabs-card.ant-tabs-top >.ant-tabs-nav .ant-tabs-tab{
  border: 1px solid #889EB4;
  border-bottom: none;
  width: 20%;
  justify-content: center;

}
.ant-tabs-card >.ant-tabs-nav .ant-tabs-tab-active{
  background-color: #193D6A;
}
.ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: white;
}

.ant-tabs-nav-list {
  width: 90%;
    border-bottom: 1px solid #889EB4;
}
.ant-tabs .ant-tabs-content{
  display: flex;
  justify-content: center;
}
.ant-tabs .ant-tabs-tabpane{
  width: 90%;
}
.ant-tabs >.ant-tabs-nav .ant-tabs-nav-wrap{
  justify-content: center;
}
.ant-tabs .ant-tabs-tab-btn{
  font-size: 16px;
  font-weight: 500;
}
.ant-tabs-top >.ant-tabs-nav::before{
  border-bottom: 0px solid #f0f0f0 !important;
}

h1 {    /*accelerate page heading*/
  /* font-size: 2rem;
  font-weight: 600;
  line-height: 1.3; */
  font-size: 9rem;
  line-height: 8rem;
  letter-spacing: -1px;
  font-family: ITC Avant Garde, sans-serif, arial;
    font-weight: 600;
  }
h1 span{
  font-size: 9rem;
  font-weight: 600;
  line-height: 9rem;
}
h2{
  font-size: 3.1rem;
  line-height: 3rem;
  font-weight: 700;
  /* color: 000; */
}

h2 span { /*leftrightcard heading*/
  font-size: 3.1rem;
  line-height: 3rem;
  font-weight: 700;
  /* color: 000; */
}

h3 {
  /* font-size: 3rem;
  line-height: 3;
  font-weight: bold;*/
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 3.5rem;
  letter-spacing: -.48px;
  font-family: ITC Avant Garde, sans-serif, arial;
}
h3 span{
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 3.5rem;
  letter-spacing: -.48px;
  font-family: ITC Avant Garde, sans-serif, arial;
}

h4 {    /*accelerate page subheading*/
  font-size: 2.5rem;
  line-height: 2;
  font-weight: 600;
  /* color: white; */
  /* margin: 0.5rem 0; */
}
h4 span{
  font-size: 2.5rem;
  line-height: 2;
  font-weight: 600;
}


h5 {
  font-size: 3rem;
  line-height: 3;
  font-weight: 500;
  /* color: white; */
}
h5 span{
  font-size: 3rem;
  line-height: 3;
  font-weight: 500;
  /* color: white; */
}
h6{
  font-size: 1.5rem;
  line-height: 1.3;
  font-weight: bold;
}

/* h6{
  font-size: 1.17rem;
} */

h7{
  /*next to h1*/
  font-size: 3rem;       /* ~48px */
  line-height: 1.2;
  font-weight: 800;
 }

p {
  font-size: 1.5rem;
  /* color: white; */
  /* line-height: 1.5; */
  line-height: 1rem;
}
p span{
  /* font-size: 2rem; */
  font-family: var(--pbc-g-font-sans);
  font-size: 1.5rem;
  letter-spacing: -0.0012em;
  line-height: 2rem;
}
span{
  /* font-size: 2rem; */
  font-family: var(--pbc-g-font-sans);
  font-size: 1.5rem;
  letter-spacing: -0.0012em;
  line-height: 2rem;
}
button {
  padding: 10px 20px;
  /* background-color: white;
  color: black; */
  font-weight: bold;
  border: none;
  /* border-radius: 20px; */
  cursor: pointer;
  font-size: 1rem;
  line-height: 1;
  /* margin: 15px 0; */
  /* width: 130px; */
  /* align-items: right; */
 }

a {
  font-size: 1.125rem;
  line-height: 1.688;
}
a span{
  font-size: 1.125rem;
  line-height: 1.688;

}


@media (max-width: 442px) {
  .ant-tabs .ant-tabs-tab-btn{
    font-size: .6em;
  }
  .ant-collapse>.ant-collapse-item >.ant-collapse-header .ant-collapse-header-text{
    font-size: 1rem;
  }

  .ant-collapse-item >.ant-collapse-header .ant-collapse-expand-icon{
    display: flex !important;
    height: 60px;
    width: 60px;
  }

  h1 {    /*accelerate page heading*/
    /* font-size: 4rem;
    line-height: .8;
    font-weight: 600; */
    font-size: 3.7rem;
    line-height: 4rem;
    letter-spacing: -1px;
    font-family: ITC Avant Garde, sans-serif, arial;

  }

  h1 span{
    font-size: 3rem;
    line-height: 6rem;
    font-weight: 600;
  }

  h2 { /*leftrightcard heading*/
    font-size: 2.3rem;
    line-height: 2.rem;
    font-weight: 700;
  }
  h2 span {
    font-size: 2.5rem;
    line-height: 2.3rem;
    font-weight: 700;
  }

  h3 {
    /* font-size: 1.8rem;
    line-height: 2.5rem;
    font-weight: bold; */
    font-size: 1.5rem;
    line-height: 2rem;
    letter-spacing: -.13px;
    font-family: ITC Avant Garde, sans-serif, arial;
    font-weight: 400;
  }

  h3 span{
    font-size: 1.5rem;
    line-height: 2rem;
    letter-spacing: -.13px;
    font-family: ITC Avant Garde, sans-serif, arial;
    font-weight: 400;
  }

  h4 {    /*accelerate page subheading*/
    font-size: 1.8rem;
    line-height: 1;
    font-weight: 600;
  }

  h4 span{
    font-size: 2.5rem;
    line-height: 1.5;
    font-weight: 600;
  }

  h5{
    /*accelerate page subheading*/
    font-size: 1.5rem;
    line-height: 1;
    font-weight: 100;
  }
  h5 span{
    font-size: 1.8rem;
    line-height: 1;
    font-weight: 500;
  }
  h6{
    font-size: 1.5rem;
    line-height: 1.;
    font-weight: bold;
  }
  h7{
    font-size: 2.2rem;    /* ~35px */
    line-height: 1.3;
  }

  p {
    /* font-size: 0.9375rem; */
    font-family: var(--pbc-g-font-sans);
    font-size: 1rem;
    letter-spacing: -0.0012em;
    line-height: 1.5rem;

  }
  span{
    /* font-size: 0.9375rem; */
    font-family: var(--pbc-g-font-sans);
    font-size: 1rem;
    letter-spacing: -0.0012em;
    line-height: 1.5rem;
  }
  a{
    font-size: 1rem;
  }
  button {
     font-size: 1rem;
     line-height: .8rem;
   }

}
@media screen and (min-width: 769px) and (max-width: 1400px) {

  h1 {    /*accelerate page heading*/
    /* font-size: 7.1rem;
    line-height: 5rem; */
    font-weight: 600;
    margin: 0;
    font-size: 6.5rem;
    line-height: 6.5rem;
    letter-spacing: -1px;
    font-family: ITC Avant Garde, sans-serif, arial;
}
  }
  h2 { /*leftrightcard heading*/
    font-size: 3.2rem;
    line-height: 4rem;
    font-weight: 700;

  }

  h2 span{
    font-size: 3.2rem;
    line-height: 4rem;
    font-weight: 700;
  }

  h3 {
    font-size: 1.875rem;
    font-weight: 600;
    line-height: 2.5rem;
    letter-spacing: -.48px;
    font-family: ITC Avant Garde, sans-serif, arial;
  }
  h3 span{
    font-size: 1.875rem;
    font-weight: 600;
    line-height: 2.5rem;
    letter-spacing: -.48px;
    font-family: ITC Avant Garde, sans-serif, arial;
  }

  h4 {   /*accelerate page subheading*/
    font-size: 1.6rem;
    line-height: 1;
    font-weight: 600;
  }
  h4 span{
    font-size: 1.6rem;
    line-height: 1;
    font-weight: 500;
  }

  h5{
    /*accelerate page subheading*/
    font-size: 1.6rem;
    line-height: 1.6;
    font-weight: 500px;
  }
  h5 span{
    font-size: 1.6rem;
    line-height: 1.6;
    font-weight: 500px;
  }
  h6{
    font-size: 1.5rem;
    line-height: 1;
    font-weight: bold;
  }

  h7 {
    font-size: 4rem;      /* ~64px */
    line-height: 1.2;
  }

  p {
    /* font-size: 1.125rem; */
    font-family: var(--pbc-g-font-sans);
    font-size: 1.1rem;
    letter-spacing: -0.0012em;
    line-height: 1.875rem;
  }

  p span{
    font-family: var(--pbc-g-font-sans);
    font-size: 1.1rem;
    letter-spacing: -0.0012em;
    line-height: 1.875rem;
  }

  span{
    font-size: 1.125rem;
  }
  a{
    font-size: 1rem;
  }
  button {
    font-size: 1rem;
  }


@media screen and (min-width: 1430px) and (max-width: 1600px){

  h1 {    /*accelerate page heading*/
    /* font-size: 7.5rem;
    line-height: 7rem; */
    font-weight: 600;
    margin: 0;
    font-size: 7rem;
    line-height: 7rem;
    letter-spacing: -1px;
    font-family: ITC Avant Garde, sans-serif, arial;
  }
  h2 { /*leftrightcard heading*/
    font-size: 3.3rem;
    line-height: 4rem;
    font-weight: 700;
  }
  h2 span{
    font-size: 3.3rem;
    line-height: 4rem;
    font-weight: 700;
  }

  h3 {
    /* font-size: 2.3rem;
    line-height: 2.8rem;
    font-weight: bold; */
    font-size: 1.875rem;
    font-weight: 600;
    line-height: 2.5rem;
    letter-spacing: -.48px;
    font-family: ITC Avant Garde, sans-serif, arial;
  }
  h3 span{
    font-size: 1.875rem;
    font-weight: 400;
    line-height: 2.5rem;
    letter-spacing: -.48px;
    font-family: ITC Avant Garde, sans-serif, arial;
  }

  h4 {
    font-size: 1.5rem;
    line-height: 1.3;
    font-weight: 600px;
  }

  h5 {
    font-size: 1.5rem;
    line-height: 1.6;
    font-weight: 500px;
  }
  h6{
    font-size: 1.3rem;
    line-height: 1;
    font-weight: bold;
  }

  h7{
    font-size: 5rem;      /* ~80px */
    line-height: 1.2;
  }

  p {
    /* font-size: 1.1rem; */
    font-family: var(--pbc-g-font-sans);
    font-size: 1.1rem;
    letter-spacing: -0.0012em;
    line-height: 1.875rem;
  }

  span{
    font-size: 1.1rem;
  }
  a{
    font-size: 1rem;
  }
  button {
    font-size: 1rem;
  }

}

@media screen and (min-width: 1915px) {


  h1 {    /*accelerate page heading*/
    font-size: 9rem;
    line-height: 9rem;
    letter-spacing: -1px;
    font-family: ITC Avant Garde, sans-serif, arial;
    font-weight: 600;
    margin:0;
  }
  h2{
    font-size: 4.8rem;
    line-height: 5.5rem;
    font-weight: 600;
  }
  h2 span {  /*leftrightcard heading*/
    font-size: 4.8rem;
    line-height: 5.5rem;
    font-weight: 600;
  }


  h3 {
    /* font-size: 3rem;
    line-height: 3rem;
    font-weight: bold; */
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 3.5rem;
    letter-spacing: -.48px;
    font-family: ITC Avant Garde, sans-serif, arial;
  }
  h3 span{
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 3.5rem;
    letter-spacing: -.48px;
    font-family: ITC Avant Garde, sans-serif, arial;
  }

  h4 {    /*accelerate page subheading*/
    /* font-size: 2rem;
    line-height: 1.6;
    font-weight: 600; */
    font-size: 30px;
    font-weight: 700px;
  }
  h5 {
    font-size: 2rem;
    line-height: 1.6;
    font-weight: 500;

  }
  h6{
    font-size: 1.5rem;
    line-height: 1.;
    font-weight: bold;
  }

   p {
    /* font-size: 1.5rem; */
    font-family: var(--pbc-g-font-sans);
    font-size: 1.5rem;
    letter-spacing: -0.0012em;
    line-height: 2.2rem;
  }

  span{
    /* font-size: 1.2rem; */
    font-family: var(--pbc-g-font-sans);
    font-size: 1.5rem;
    letter-spacing: -0.0012em;
    line-height: 2rem;
  }
  a{
    /* font-size: 1rem; */
    font-size: 1.5rem;
    line-height: 1rem;
  }
  button {
    /* font-size:  1rem; */
    font-size: 1.5rem;
    line-height: 1rem;
  }



}
