.Recard1 {
  margin-top: 6%;
}

.ReCardInfo {
  padding: 4px 12px 4px 12px;
}

.ReCardInfo > p {
  margin: 0;
}

.ReCardInfo > h2 {
  font-size: large;
  font-weight: 700;
  color: var(--darkgreen);
}

.CardReContainer {
  display: none;
  width: 100% !important;
}

.ReImageHoverContainer {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.ReImagehoverzoom {
  width: 100%;
}

.AlignlinkHubimg > a {
  font-size: small;
  display: flex;
  color: var(--lightgreen);
  font-weight: bold;
  /* border: 1px solid red; */
  width: 100%;
  display: flex;
  align-items: center;
}

.AlignlinkHubimg > a::after {
  display: inline-block;
  width: 60px;
  font-size: large;
  padding-left: 1px;
  -webkit-transition: transform 0.5s ease-out;
  -moz-transition: transform 0.5s ease-out;
  -ms-transition: transform 0.5s ease-out;
  -o-transition: transform 0.5s ease-out;
  transition: transform 0.5s ease-out;
  content: "➞";
  transition: transform 0.3s ease-out;
}

.AlignlinkHubimg > a:hover::after {
  -webkit-transform: translateX(9px);
  -moz-transform: translateX(9px);
  -ms-transform: translateX(9px);
  -o-transform: translateX(9px);
  transform: translateX(9px);
}
