/* .smallButton styles */
.smallButton {
  color: var(--color, inherit);
  transition: all 0.3s ease;
  padding: 4px 8px !important;
  height: 50px !important;
  font-size: 1rem;
  font-weight: 700 !important;
  cursor: pointer;
  border: none !important;
  box-shadow: none !important;
  background-color: var(--bgColor, transparent);
}

.smallButton:hover {
  background-color: var(--hoverBgColor, #e0e0e0);
  color: var(--hoverTextColor, #000105e0);
  border: none !important;
  box-shadow: none !important;
  text-decoration: underline;
}

/* .mediumButton styles */
.mediumButton {
  background-color: var(--bgColor, #ffffff);
  color: var(--color, rgb(250, 5, 5));
  transition: all 0.3s ease;
  border-radius: 50px;
  padding: 6px 15px;
  height: 40px;
  font-size: 17px !important;
  font-weight: 700;
  width: 150px;
  cursor: pointer;
  border: none !important;
}

.mediumButton:hover {
  background-color: var(--hoverBgColor, #e0e0e0);
  color: var(--hoverTextColor, rgba(5, 53, 245, 0.88));
  border: none !important;
}

/* .largeButton styles */
.largeButton {
  background-color: var(--bgColor, #ffffff);
  color: var(--color, rgb(250, 5, 5));
  transition: all 0.3s ease;
  border-radius: 50px;
  padding: 12px 32px;
  height: 50px;
  font-size: 18px;
  font-weight: 700;
  width: 130px;
  cursor: pointer;
  border: none;
}

.largeButton:hover {
  background-color: var(--hoverBgColor, #e0e0e0) !important;
  color: var(--hoverTextColor, #000105e0) !important;
}

/* .largeButton styles */
.SignButton {
  background-color: var(--bgColor, #ffffff);
  color: var(--color, rgb(250, 5, 5));
  transition: all 0.3s ease;
  border-radius: 30px;
  padding: 12px 32px;
  height: 40px;
  line-height: 24px;
  font-size: 16px;
  font-weight: 700;
  width: 93.3125px;
  cursor: pointer;
  border: none;
}

.SignButton:hover {
  background-color: var(--hoverBgColor, #f70505) !important;
  color: var(--hoverTextColor, #f8f8fae0) !important;
}

.LearnMoreButton {
  /* background-color: var(--bgColor, #ffffff); */
  color: var(--color, rgb(250, 5, 5));
  transition: all 0.3s ease;
  border-radius: 50px;
  padding: 6px 15px;
  height: 35px;
  font-size: 16px ;
  font-weight: 700;
  width: 140px;
  cursor: pointer;
  border: none !important;
}

.LearnMoreButton:hover {
  background-color: var(--hoverBgColor, #e0e0e0) !important;
  color: var(--hoverTextColor, rgba(5, 53, 245, 0.88)) !important;
  border: none !important;
}


.LearnMoreButtonLink{
  /* background-color: var(--bgColor, #ffffff); */
  color: #36399C;
  transition: all 0.3s ease;
  border-radius: 50px;
  padding: 6px 10px;
  height: 30px;
  font-size: 15px !important;
  font-weight: 700;
  width: 150px;
  cursor: pointer;
  border: none !important;

}

.LearnMoreButtonLink:hover{
  text-decoration: underline;
}

/* Responsive overrides for 1900px+ screens */
@media screen and (min-width: 1900px) {
  .smallButton {
    height: 60px !important;
    font-size: 1.25rem !important;
    padding: 8px 16px !important;
  }

  .smallButton:hover {
    text-decoration-thickness: 2px;
  }

  .mediumButton {
    height: 60px !important;
    width: 220px !important;
    font-size: 26px !important;
    padding: 1px 25px !important;
  }

  .largeButton {
    height: 65px ;
    width: 180px !important;
    font-size: 30px !important;
    padding: 16px 40px !important;
  }

  .SignButton {
    height: 55px !important;
    width: 120px !important;
    font-size: 12px !important;
    /* padding: 8px 10px !important; */
    font-weight: 600  ;
    align-items: center;
  }
  .LearnMoreButton {
    height: 50px;
    width: 200px !important;
    font-size: 18px !important;
    padding: 7px 20px !important;
  }

  .LearnMoreButtonLink {
    height: 50px !important;
    width: 200px !important;
    font-size: 16px !important;
    /* padding: 16px 30px !important; */
    align-items: center;
  }
}
