.BlogRightImg {
  width: 90%;
  /* float: right; */
  cursor: pointer;
  /* border: 1px solid red; */
  margin: 0px 20px;
}

/* .BlogRightImage {
  border: 1px solid green;
} */

.BlogSmallImage {
  /* border: 1px solid violet; */
  min-height: 150px;
  max-height: 230px;
  object-fit: cover;
}

.BlogRightContent h2 {
  font-size: xx-large;
  font-family: "Nunito Sans", sans-serif;
  line-height: 1.3;
  letter-spacing: normal;
  font-weight: bold;
  color: var(--badge-color);
  width: 72%;
  display: flex;
  margin-top: unset;
  position: relative;
  overflow: hidden;
  /* border: 1px solid red; */
  margin-bottom: 20px;
}

.BlogRightContent h2 span {
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  display: inline;
  vertical-align: auto;
  position: relative;
  margin-top: 20px;
  /* padding: 0 20px; */
}

.BlogRightContent h2 span:before,
.BlogRightContent h2 span:after {
  content: "";
  display: block;
  width: 150%;
  position: absolute;
  top: 0.73em;
  border-top: 1px solid var(--badge-color);
  margin-left: 6px;
}

.BlogRightContent h2 span:before {
  right: 100%;
}

.BlogRightContent h2 span:after {
  left: 100%;
}

.BlogRightContent p {
  font-size: medium;
  font-family: "Nunito Sans", sans-serif;
  line-height: 1.3;
  letter-spacing: normal;
  font-weight: 700;
  color: var(--badge-color);
  /* width: 90% !important; */
  display: flex;
  margin-top: 10px;
  /* margin-bottom: 20px; */
  padding-bottom: 15px;
  border-bottom: 1px solid rgb(202, 202, 202);
  /* border: 1px solid red; */
}

.BlogRightContent picture img {
  width: 100% !important;
  /* border: 1px solid red !important; */
}

@media screen and (max-width: 414px) {
  .BlogRightContent picture img {
    width: 100% !important;
  }
  .BlogRightImg {
    width: 100%;
    float: unset;
    padding-left: 20px !important;
  }
  .BlogRightContent p {
    width: 100%;
  }
}

@media screen and (max-width: 1024px) {
  .BlogRightImg {
    width: 100%;
    float: left;
    padding-left: 0px;
    margin: 0px;
    margin-top: 20px;
  }

  .BlogSmallImage {
    /* border: 1px solid black; */
    min-height: 350px;
    max-height: 420px;
    object-fit: cover;
  }
  .BlogRightContent p {
    padding-top: 10px;
    /* border: 1px solid red; */
    font-size: 18px;
  }
}

@media screen and (max-width: 863px) {
  .BlogRightImage {
    /* border: 1px solid green !important; */
    max-height: 350px;
  }
}

@media screen and (max-width: 768px) {
  .BlogRightImg {
    /* width: 210%; */
    float: left;
    margin: 0px;
    /* margin-left: 20px; */
    /* border: 1px solid green; */
  }

  .BlogSmallImage {
    /* border: 1px solid green; */
    max-height: 320px;
    min-height: 250px;
    object-fit: cover;
  }

  .BlogRightContent p {
    width: 100% !important;
    margin: 0px;
    font-size: 15px !important;
    /* border: 1px solid red; */
  }
  .BlogRightContent h2 {
    margin-bottom: 10px;
  }
  .BlogRightContent h2 span {
    margin-top: 10px;
  }
}

@media screen and (max-width: 560px) {
  .BlogSmallImage {
    /* border: 1px solid red; */
    min-height: 180px;
    max-height: 200px;
    object-fit: cover;
  }
}

@media screen and (max-width: 414px) {
  .BlogRightImg {
    margin-left: 0px;
    padding-left: 0px !important;
    /* border: 1px solid green; */
  }
}
