.itworkflow {
  display: grid;
  gap: 5px;
  grid-auto-flow: column;
  grid-column: 1 / 2;
  height: 400px;
  font-family: var(--ffamily);
  margin-top: 80px;
}

.itworkflow span {
  font-size: var(--h1);
  font-family: var(--ffamily);
  color: var(--badge-color);
  font-weight: bold;
  font-size: medium;
}

.itworkflow .it {
  height: 350px;
  width: 580px;
  margin-left: 40px;
  margin-right: 30px;
}

.itworkflow h1 {
  font-size: var(--h1);
  font-weight: bold;
  font-family: var(--ffamily);
  color: var(--badge-color);
  font-size: xx-large;
}

.itworkflow p {
  font-size: large;
  padding-bottom: 25px;
  color: var(--badge-color);
}

.itworkflow .para2 p {
  margin-bottom: unset;
  padding-bottom: unset;
  width: 100%;
}

.itworkflow .para2 a {
  font-size: medium;
  display: flex;
  margin-top: 20px;
  color: var(--badge-color);
  font-weight: bold;
}

.itworkflow .para2 a::after {
  display: inline-block;
  width: 60px;
  font-size: large;
  padding-left: 1px;
  -webkit-transition: transform 0.5s ease-out;
  -moz-transition: transform 0.5s ease-out;
  -ms-transition: transform 0.5s ease-out;
  -o-transition: transform 0.5s ease-out;
  transition: transform 0.5s ease-out;
  content: "➞";
  transition: transform 0.3s ease-out;
}

.itworkflow a:hover::after {
  -webkit-transform: translateX(9px);
  -moz-transform: translateX(9px);
  -ms-transform: translateX(9px);
  -o-transform: translateX(9px);
  transform: translateX(9px);
}

.para2 {
  margin-left: 30px;
  margin-top: 50px;
}

@media screen and (max-width: 768px) {
  .itworkflow .it {
    height: 250px;
    width: 300px;
    margin-left: 30px;
    margin-right: 10px;
  }

  /* .itworkflow {
        width: 750px;
    } */

  .itworkflow p {
    font-size: large;
    padding-bottom: 25px;
    color: var(--badge-color);
  }

  .itworkflow h1 {
    font-size: var(--h1);
    font-weight: bold;
    font-family: var(--ffamily);
    color: var(--badge-color);
    font-size: x-large;
    line-height: 45px;
  }
}

@media screen and (max-width: 320px) {
  .itworkflow .it {
    height: 200px;
    width: 280px;
    margin-left: 10px;
    margin-right: 10px;
    /* position: absolute;
        margin-top: 100px; */
  }

  .itworkflow {
    visibility: hidden;
    display: grid;
    gap: 5px;
    grid-auto-flow: row;
    height: 400px;
    font-family: var(--ffamily);
    margin-top: 80px;
  }

  .itworkflow p {
    font-size: x-large;
    padding-bottom: 25px;
    color: var(--badge-color);
    margin-top: 500px;
  }

  .itworkflow h1 {
    font-size: var(--h1);
    font-weight: bold;
    font-family: var(--ffamily);
    color: var(--badge-color);
    font-size: x-large;
    line-height: 45px;
  }
}

@media screen and (max-width: 1087px) {
  .itworkflow .it {
    height: 300px !important;
    width: 500px !important;
  }
}

@media screen and (max-width: 848px) {
  .itworkflow .it {
    height: 250px !important;
    width: 280px !important;
  }

  .Itworkflow .para2 {
    margin-left: 20px;
    margin-top: 10px;
  }

  .itworkflow h1 {
    font-size: var(--h1);
    font-weight: bold;
    font-family: var(--ffamily);
    color: var(--badge-color);
    font-size: x-large;
  }

  .itworkflow p {
    font-size: medium;
    padding-bottom: 25px;
    color: var(--badge-color);
  }
}

@media screen and (max-width: 740px) {
  .itworkflow {
    display: grid;
    grid-gap: 5px;
    gap: 5px;
    grid-auto-flow: row;
    grid-row: 1 / 2;
    height: 400px;
    font-family: var(--ffamily);
    margin-top: 20px;
  }

  .itworkflow .it {
    display: none;
  }

  .Itworkflow .para2 {
    margin-left: 30px;
    margin-top: 10px !important;
    margin-bottom: -100px;
  }
}

/* @media screen and (min-width: 965px){
.Itworkflow .itworkflow .Itworkflow .it {
    height: 200px !important;
    width: 300px !important;
}
} */
