.wrapper {
  background: #7C5F00;
  height: calc(100vh - 70px);
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.agentSection {
  display: flex;
  /* flex-direction: row; */
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.content {
  width: 50%;
  /* gap:20px; */
}

.imageContainer{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* .mainImages {
  margin-top: 20px;
  width: 100%;
  height: auto;
  border-radius: 10px;
} */
.mainImages {
  margin-top: 20px;
  width: 100%;
  height: auto;
  border-radius: 12px;
  object-fit: cover;
}

.subtitle {
  font-size: 24px;
  margin: 20px 0 10px 0;
  font-weight: 600;
}

.title {
  font-size: 98px;
  font-weight: 900;
  margin: 0;
  line-height: 6rem;
  color: #ffffff;
}

.description {
  max-width: 400px;
  margin-bottom: 30px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
}

.integrationSection {
  background-color: #fff;
  /* padding: 30px 10px; */
  text-align: center;
  margin-bottom: 60px;
}

.integrationTitle {
  font-size: 2.5rem;
  font-weight: 400;
  margin-bottom: 30px;
}

.integrationGrid {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

.integrationRow {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.integrationCard {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #f4f4f4;
  padding: 10px 18px;
  border-radius: 8px;
  font-weight: 600;
  font-size: 15px;
  min-width: 140px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s ease;
}

.integrationCard:hover {
  transform: translateY(-3px);
}

.integrationIcon {
  width: 40px;
  height: 40px;
  object-fit: contain;
}


/* .registerButton {
  margin-top: 20px;
  padding: 12px 32px;
  background-color: #ff0000;
  color: #fff;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;
  display: inline-block;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
} */
.registerButton {
  background-color: #ff0000;
  color: #fff;
  font-weight: 700;
  padding: 12px 32px;
  border-radius: 50px;
  font-size: 18px;
  text-align: center;
  display: inline-block;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.registerButton:hover{
  background-color: #f4f4f4;
  transform: scale(1.05);
  cursor: pointer;
  color:#000;
}



.possibilitySection {
  text-align: center;
  /* padding: 30px 10px; */
  background: white;
  color: #111;
}

.heading {
  font-size: 2.5rem;
  font-weight: 400;
  margin-bottom: 10px;
}

.highlight {
  font-weight: 700;
}

.subtext {
  font-size: 1rem;
  max-width: 700px;
  margin: 0 auto 40px;
  color: #555;
}

.videoPlaceholder {
  height: 100vh;
  /* background-color: #ddd; */
  border-radius: 8px;
  position: relative;
  overflow: hidden;
}

.videoPlayer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /* height: 100vh; */
  object-fit: cover;
  border-radius: 8px;
}

.appSection {
  background: #fff;
  padding: 40px 10px;
  text-align: center;
}

.appContent {
  max-width: 100%;
  width: 90%;
  margin: 0 auto;
}

.appHeading {
  font-size: 2.5rem;
  font-weight: 400;
  margin-bottom: 10px;
}

.appSubtext {
  max-width: 90%;
  margin: 0 auto 40px;
  color: #555;
  font-size: 1rem;
}
.appTop {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: 30px;
  flex-wrap: wrap;
}

.demoButton {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 10px 24px;
  border-radius: 20px;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 30px;
  cursor: pointer;
  white-space: nowrap;
}

.line1 {
  height: 2px;
  background-color: #ff0707;
  width: 30%;
  margin-right: 0;
  margin-right: auto;
  align-self: flex-start;
}

.line2 {
  height: 2px;
  background-color: #ff0707;
  width: 30%;
  margin-left: 0;
  margin-left: auto;
  margin-bottom: 30px;
}

.cardGrid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  justify-content: center;
}

.card {
  background: #fff;
  box-shadow: 0 2px 12px rgba(7, 7, 7, 0.08);
  padding: 30px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* .card:hover {
  transform: scale(1.05);
} */

.cardTitle {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.cardDescription {
  font-size: 0.95rem;
  color: #444;
  flex-grow: 1;
}

.cardButton {
  margin-top: 20px;
  background: #26a69a;
  color: black;
  border: none;
  padding: 8px 16px;
  font-weight: bold;
  border-radius: 20px;
  cursor: pointer;
  align-self: flex-end;
}

.integrationSection {
  background-color: #fff;
  text-align: center;
  }

.integrationTitle {
  font-size: 2.5rem;
  font-weight: 400;
  margin-bottom: 30px;
}

.integrationGrid {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

.integrationRow {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.integrationCard {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #f4f4f4;
  padding: 10px 18px;
  border-radius: 8px;
  font-weight: 600;
  font-size: 15px;
  min-width: 140px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s ease;
}

.integrationCard:hover {
  transform: translateY(-3px);
}

.integrationIcon {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.resourceSection {
  background: #fff;
  text-align: center;
  position: relative;
}

.resourceContent {
  width: 90%;
  max-width: 90%;
  margin: 0 auto;
  position: relative;
}

.resourceTitle {
  font-size: 2.5rem;
  font-weight: 400;
  margin-bottom: 40px;
  position: relative;
  display: inline-block;
  padding-bottom: 10px;
}

.redUnderline {
  content: "";
  position: absolute;
  top: 20px;
  right: 10px;
  height: 2px;
  width: 30%;
  background-color: #ff0707;
  margin: 0 auto;
}
.resourceGrid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  justify-content: center;
}
.resourceCard {
text-align: left;
}

.resourceImage {
width: 100%;
height: auto;
display:flex;
aspect-ratio: 380 / 280;
background-color: #eee;
border-radius: 4px;
border: 10px solid #ffe2e2;
align-items: center;
justify-content: center;
}
.resourceimg{
width: 100%;
height: auto;
aspect-ratio: 380 / 280;
/* background-color: #eee; */
border-radius: 4px;
/* border: 10px solid #ffe2e2; */
align-items: center;
}

.resourceText {
font-size: 16px;
font-weight: 500;
margin: 16px 0 10px;
}

.resourceButton {
background-color: red;
color: white;
padding: 6px 16px;
border: none;
border-radius: 20px;
font-size: 12px;
font-weight: bold;
cursor: pointer;
}


@media screen and (max-width: 480px) {
  .wrapper {
    display: flex;
    /* flex-wrap: wrap; */
    height: calc(900px);
    padding: 40px 20px;
    width: 100%;

  }
  .content {
    width: 100%;
  }

  .imageContainer {
    width: 100%;
    margin-bottom: 20px;
    padding: 0;
  }


  .mainImage {
    height: 250px;
    width: 250px;
  }

  .agentSection{
    flex-wrap: wrap;
    flex-direction: column-reverse;
    gap:50px;
  }

  .title {
    width: 100%;
    line-height: 7rem;
  }
  .description{
    font-weight: 500;
  }
  .registerButton {
    margin-top: 20px;
  }
  .resourceTitle {
    font-size: 1.5rem;
    margin-bottom: 40px;
    position: relative;
    display: inline-block;
  }

  .description {
    width: 100%;

  }

  .resourceText{
    text-align: center;
  }
  .redUnderline{
    top:20px;
  }
    .videoPlaceholder {
      height: 200px;

    }
    .videoPlayer {
      height: 100%;
      width:100%;
      object-fit: contain;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .wrapper {
    display: flex;
    flex-direction: column-reverse;
  }
  .content {
    width: 100%;
  }
  .resourceText{
    text-align: center;
  }

  .imageContainer {
    width: 100%;
    margin-bottom: 20px;
    padding: 0;
  }

  .mainImage {
    height: 250px;
    width: 250px;
  }
  .agentSection{
    flex-wrap: wrap;
    flex-direction: column-reverse;
    gap:50px;
  }
  .title {
    width: 100%;
  }

  .description{
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;

  }

  .redUnderline{
    top:20px;
  }
  .resourceTitle {
    font-size: 1.5rem;
    margin-bottom: 40px;
    position: relative;
    display: inline-block;
  }
  .registerButton {
    margin-top: 20px;
  }
  .videoPlaceholder {
    width: 100%;
    height: 250px;
  }

  .videoPlayer {
    height: 100%;
    object-fit: contain;
  }
}

@media screen and (min-width: 769px) and (max-width: 1440px) {
  .wrapper {
    flex-direction: column;
    align-items: center;
    /* text-align: left; */
    /* padding: 60px 40px; */
  }
  .content {
    text-align: left;
    display: flex;
    flex-direction: column;
    gap:20px;
  }

  .agentSection {
    flex-direction: row;
  }
  .redUnderline{
    top:20px;
  }
  .registerButton{
    width:30%
  }

  .title {
    font-size: 6.3rem;
    /* line-height: 5rem; */
  }

  .imageContainer{
    width: 50%;
  }

  .mainImages {
    /* margin-left: 40px; */
    /* width: 60%; */
    /* max-width: 380px; */
    height: auto;
    border-radius: 10px;
  }

  .description {
    /* max-width: 500px; */
    font-size: 18px;
    max-width: 95%;
  }
  .cardGrid {
    grid-template-columns: repeat(2, 1fr);
  }
  .resourceGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* @media screen and (min-width: 1400px) and (max-width: 1440px) {
  .title {
    font-size: 4rem;
    line-height: 1.2;
  }

  .description {
    font-size: 1.1rem;
    max-width: 85%;
  }

  .registerButton {
    width: 25%;
  }

  .mainImages {
    max-width: 80%;
    height: auto;
    border-radius: 10px;
  }

  .cardGrid {
    grid-template-columns: repeat(2, 1fr);
  }

  .resourceGrid {
    grid-template-columns: repeat(2, 1fr);
  }
} */

@media screen and (min-width: 1441px) {
  .title {
    font-size: 8.7rem;
    line-height: 7rem;
  }

  .description {
    font-size: 18px;
    max-width: 95%;
  }

  .redUnderline{
    top:20px;
  }

  .imageContainer{
    width: 50%;
  }

  .registerButton{
    width:20%
  }
  .mainImages {
    /* width: 60%; */
    /* max-width: 580px; */
    height: auto;
    border-radius: 10px;
  }

  .content {
    text-align: left;
    display: flex;
    flex-direction: column;
    gap:20px;
  }


  .cardGrid {
    grid-template-columns: repeat(2, 1fr);
  }
  .resourceGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}
