.homeTab {
  background-color: #f9f9f9;
  padding: 50px 0px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  flex-direction: row;
  border: 1px solid #889eb4;
  border-top: none;
  border-bottom-left-radius: 16px !important;
  border-bottom-right-radius: 16px !important;
  height: 400px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  gap: 50px;
}
.videoContainer {
  display: flex;
  height: 100%;
  width: 50%;
}

.videoPlaceholder {
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 75%;
}

.imagePlaceholder {
  border-radius: 10px;
  /* height: 100%; */
  /* width: 100%; */
  /* border: 1px solid red; */
  object-fit: contain;
}

.contentContainer {
  width: 50%;
  padding-left: 20px;
}

.title {
  font-size: 1.8rem !important;
  font-weight: 700 !important;
  color: #2b547e !important;
}

.paragraph {
  margin-bottom: 16px;
  font-size: 20px;
}

.learnMoreButton {
  display: inline-flex;
  align-items: center;
  color: #1d4965 !important;
  font-size: 1.1rem;
  font-weight: 500;
  text-decoration: none;
}

.arrowIcon {
  margin-left: 10px;
  width: 20px;
  margin-top: 4px;
  transition: margin-left 0.3s ease;
}

.learnMoreButton:hover .arrowIcon {
  margin-left: 12px;
}
.HomeTabWeb {
  display: block;
}
.HomeTabMob {
  display: none;
}

.HomeTabMob_Img {
  width: 100%;
  border-radius: 10px 10px 0px 0px;
  overflow: hidden;
}

.HomeTabMob_Img img {
  max-height: 350px !important;
  width: 100%;
  object-fit: contain;
  padding: 6px;
}

@media (max-width: 580px) {
  .HomeTabMob_Img img {
    object-fit: contain;
    max-height: 280px !important;
  }
}

@media (max-width: 460px) {
  .HomeTabMob_Img img {
    object-fit: contain;
    max-height: 220px !important;
  }
}

.HomeTabMob_Description {
  padding: 15px;
}

@media (min-width: 1920px) {
  .container {
    height: 500px;
  }
}

@media (max-width: 768px) {
  .homeTab {
    padding: 30px 0px 0px 0px !important;
  }
  .HomeTabWeb {
    display: none;
  }
  .HomeTabMob {
    width: 90%;
    height: 100%;
    text-align: left;
    border-radius: 13px;
    background-color: #f8f8f8;
    border: 2px solid #1e1e1e22;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
    margin-left: 16px;
    margin-right: 16px;
  }
  .title {
    font-size: 1.2rem !important;
  }
  .paragraph {
    font-size: 1rem;
  }
  .learnMoreButton {
    font-size: 0.8rem;
  }

  /* .HomeTabMob_Img {
    height: 400px;
  } */
}
@media (max-width: 442px) {
  .container {
    height: 200px;
  }
  .contentContainer {
    height: 65%;
    overflow-y: hidden;
  }
  .HomeTabMob_Img img {
    object-fit: cover !important;
  }
  /* .HomeTabMob_Img {
    height: 300px !important;
  } */
  .paragraph {
    font-size: 0.8rem !important;
  }
}
@media (max-width: 375px) {
  .HomeTabMob_Img {
    height: 250px !important;
  }
}
@media (max-width: 320px) {
  .HomeTabMob_Img {
    height: 200px !important;
  }
  .HomeTabMob_Img img {
    object-fit: cover !important;
  }
  .title {
    font-size: 1rem !important;
  }
  .paragraph {
    font-size: 0.6rem !important;
  }
}
