.container {
  text-align: center;
  padding: 45px 20px 80px 20px;
  background-color: #dadada;
  max-width: 100%;
  box-sizing: border-box;
}
.title {
  color: #000;
  margin-bottom: 40px;
  margin-top: 1px;
  margin-bottom: 10px;
}
.carousel {
  width: 90%;
  box-sizing: border-box;
  height: 100%;
}
.cardWrapper {
  padding: 20px;
  display: flex !important;
  justify-content: center;
  height: 500px;
  width: 350px;
}
.card {
  position: relative;
  flex-direction: column;
  position: relative;
  background-color: #fff;
  box-shadow: 0.5px 4px 8px rgba(0.1, 0.1, 0.1, 0.1);
  border-radius: 8px;
  transition: transform 0.3s ease;
  width: 100% !important;
  height: 100% !important;

  }
.vectorContainer {
  position: absolute;
  top: -6px;
  right: 10px;
  width: 20px;
  height: 90px;
  z-index: 5;
}
.redVector {
  width: 100%;
  object-fit: contain;
  height: 100%;
}
.cardContentWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.imageContainer {
  width: 100%;
  overflow: hidden;
  height: 100%;
  margin: 0;
}
.cardImage {
  display: block;
  object-fit: cover;
  height: 350px;
  width: 200px;
}
.textContent {
  padding: 0 10px 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.textContent h4 {
  color: #333;
  margin: 10px 0 0 0;
  height: 50px;
}
.textContent p {
  height: 115px;
  width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  margin-bottom: 10px;
  margin-top: 5px;
  color: #000;
}
.footer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.LearnMoreButtonLink {
  display: inline-block;
  text-align: center;
}
.prevArrow,
.nextArrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  background-color: #FF0707;
  color: white;
  font-size: 1rem;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  opacity: 0.8;
}
.prevArrow {
  left: -130px;
}

.nextArrow {
  right: -130px;
}

.prevArrow:hover,
.nextArrow:hover {
  opacity: 1;
}




@media (max-width: 1920px) {
  .carousel {
    width: 83%;
    margin: 0 auto;
    height: 600px;
  }

  .card {
    height: 500px !important;
    width: 90% !important;
  }
  .cardImage{
    width: 479px;
    height: 220px;
  }
  .textContent p {
    height: 135px;
  }
}

@media (max-width: 1440px) {
  .carousel {
    max-width: 83%;
    height: 490px;
  }

  .card {
    height: 90% !important;
    width: 100% !important;
  }

  .cardImage{
    width: 345px;
    height: 180px;
  }
  .prevArrow {
    left: -100px;
  }
  .nextArrow {
    right: -100px;
  }
  .prevArrow,
  .nextArrow {
    width: 50px;
  }
  .textContent p {
    height: 115px;
  }
}

@media (max-width: 1360px) {
  .carousel {
    max-width: 83%;
    height: 500px;
  }
  .card {
    height: 90% !important;
    width: 100% !important;
  }
  .prevArrow {
    left: -90px;
  }
  .nextArrow {
    right: -90px;
  }
  .prevArrow,
  .nextArrow {
    width: 50px;
  }
  .textContent p {
    height: 115px;
  }
}


@media (max-width: 480px) {
  .title {
    margin-bottom: 15px;
  }
  .cardWrapper {
    width:310px !important;
  }

  .vectorContainer {
    width: 25px;
    height: 35px;
  }
  .card {
    max-width: 100%;
  }
  .textContent p {
    height: 105px;
  }
  .prevArrow,
  .nextArrow {
    display: none;
  }

}
