.item5 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: 1px solid red; */
  /* padding: 0px 45px; */
}

.item5 h2 {
  font-size: var(--h1);
  font-weight: bold;
  font-family: var(--ffamily);
  color: var(--badge-color);
  font-size: xx-large;
  line-height: 45px;
  /* width: 100%; */
  margin: 70px 0px;
}
/* 
.items > span {
  margin: 0 auto;
} */

.item5 a {
  color: var(--badge-color);
  float: left;
  border: 2px solid var(--badge-color);
  font-weight: bold;
  padding: 6px 20px;
  background-color: none;
  font-family: var(--ffamily);
  font-size: large;
  cursor: pointer;
  -webkit-transition: ease-out 0.3s;
  -moz-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
  /* margin-top: 30px; */
  /* margin-bottom: 50px; */
}

.item5 a:hover {
  box-shadow: inset 300px 0 0 0 var(--badge-color);
  color: var(--tcolor);
}

@media screen and (max-width: 768px) {
  .item5 {
    display: flex;
    flex-direction: column;
    align-items: normal;
    justify-content: space-between;
    /* border: 1px solid red; */
    /* padding: 20px 45px; */
  }
  .item5 h2 {
    font-size: var(--h1);
    font-weight: bold;
    font-family: var(--ffamily);
    color: var(--badge-color);
    font-size: xx-large;
    line-height: 45px;
    /* width: 100%; */
    margin: 0px 0px 40px 0px;
  }
}

@media screen and (max-width: 414px) {
  /* .item5 {
    border: 1px solid red;
    padding: 20px 15px;
  } */
  .item5 h2 {
    font-size: 25px !important;
    margin: 15px 0px !important;
  }
}

@media screen and (max-width: 322px) {
  .item5 h2 {
    font-size: var(--h1);
    font-weight: bold;
    font-family: var(--ffamily);
    color: var(--badge-color);
    font-size: 20px !important;
    margin-left: 0px;
    margin-top: 0px;
  }

  .item5 a {
    color: var(--badge-color);
    float: left;
    margin-right: 30px;
    border: 2px solid var(--badge-color);
    font-weight: bold;
    padding: 5px 10px;
    background-color: none;
    font-family: var(--ffamily);
    font-size: large;
    cursor: pointer;
    -webkit-transition: ease-out 0.3s;
    -moz-transition: ease-out 0.3s;
    transition: ease-out 0.3s;
  }
}

@media screen and (max-width: 460px) {
  .item5 h2 {
    margin-left: 10px;
    margin-top: 50px;
    font-size: 25px !important;
  }
}

@media screen and (max-width: 360px) {
  .item5 h2 {
    margin-left: 10px;
    margin-top: 50px;
    font-size: 1.5rem;
  }

  .item5 span {
    text-align: left !important;
    margin-bottom: 50px;
    padding-left: 10px;
  }

  .item5 a {
    float: left;
  }
}
