.ScreenMain {
  /* border: 1px solid red; */
  width: 1700px;
  margin: 0 auto;
}

@media screen and (min-width: 1400px) {
  .ScreenMain {
    padding-left: 16px;
    padding-right: 16px;
    margin: 0 auto;
    width: 1800px;
    /* border: 1px solid blue; */
  }
}

@media screen and (max-width: 1600px) {
  .ScreenMain {
    padding-left: 16px;
    padding-right: 16px;
    margin: 0 auto;
    width: 1400px;
    /* border: 1px solid rgb(255, 0, 200); */
  }
}

@media screen and (max-width: 1200px) {
  .ScreenMain {
    width: 100%;
    /* border: 1px solid rgb(36, 255, 7); */
  }
}

@media screen and (max-width: 900px) {
  .ScreenMain {
    width: 100%;
    /* border: 1px solid rgb(36, 255, 7); */
  }
}
