.sectionHeading {
  /* font-size: 2rem;
  font-weight: 700; */
  text-align: center;
  margin: 0 0 0 0; /* Space between heading and cards */
  color: #000; /* Adjust color if needed */
}

.studioSection {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center everything inside the section */
  padding: 30px;
  margin: 50px 0;
}

.cardWrapper {
  display: flex;
  justify-content: center; /* Center the cards */
  gap: 50px; /* Space between cards */
  flex-wrap: wrap;
}

.studioCard {
  padding: 20px;
  text-align: center;
  color: #ffffff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 320px;
  height: 380px;
  margin: 0;
  border-radius: 10px;
  margin-top: 50px;
}

.studioCard h3 {
  margin: 0;
  text-align: center;
}

.studioCard p {
  text-align: left;
  margin: 20px 0;
  height: 200px;
}

.learnMoreButtonLink {
  align-items: right;
}

.buttonWrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: auto;
}

@media only screen and (max-width: 480px) {
  .studioCard {
    width: 100%;
    max-width: 100%;
    padding: 15px;
  }

  .studioSection {
    padding: 15px;
    gap: 10px;
  }

  .learnMoreButtonLink {
    /* background-color: white; */
    color: black;
    /* font-weight: bold; */
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin: 10px;
    width: 150px;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .studioCard {
    width: 100%;
    max-width: 320px;
    padding: 18px;
    height: 400px;
  }

  .studioSection {
    padding: 15px;
    gap: 10px;
  }
}

@media only screen and (min-width: 1915px) {
  .studioCard {
    max-width: 380px;
    height: 450px;
    margin-top: 70px;
  }
  .cardWrapper{
    gap: 80px;
  }

  .studioCard h3 {
    margin: 0;
    text-align: center;
  }

  .studioCard p {
    text-align: left;
    margin: 40px 5px;
  }

  /* .learnMoreButtonLink {
    padding: 20px 30px;
  } */

  .studioSection {
    padding: 15px;
  }
}
