/* VideoSection.module.css */
.videoSectionhero {
  background-color: #154965;
}

.videoSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 80px 0px;
  border-radius: 8px;
  /* height: 400px; */
}

.videoRightSection {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 80px 0px;
  border-radius: 8px;
  /* height: 400px; */
}

.videoContainer {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.videoPlaceholder {
  width: 600px;
  height: 330px;
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
}

.playButton {
  font-size: 32px;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
}

.textContent {
  flex: 1;
  color: white;
  padding-left: 100px;
}

.textRightContent {
  flex: 1;
  color: white;
  padding-right: 100px;
}

.title {
  color: white;
  font-weight: 700;
  font-size: 35px;
  /* line-height: 0; */
}

.subtitle {
  font-weight: 700;
  font-size: 35px;
  /* line-height: 0.5; */
}

.learnMoreBtn {
  background-color: #f2cb67;
  color: #154965;
  /* padding: 10px 40px; */
  border: none;
  border-radius: 25px;
  cursor: pointer;
  width: 203.5px;
  height: 44px;
}

.learnMoreBtn:hover {
  background-color: #cfad55;
}

.buttonText {
  font-size: 18px;
  font-weight: 500;
}

.description {
  font-size: 20px;
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  .videoSection {
    display: block;
    padding: 40px 0px;
    border-radius: 8px;
  }
  .title {
    font-size: 28px;
  }

  .videoRightSection {
    display: block;
    padding: 80px 0px;
    border-radius: 8px;
  }
  .textContent {
    color: white;
    padding-left: 0px !important;
    text-align: center;
    margin-top: 20px;
  }
  .textRightContent {
    padding-left: 0px !important;
    text-align: center;
  }
}

@media (max-width: 442px) {
  .videoSection {
    display: block;
    padding: 30px 0px;
    border-radius: 8px;
  }
  .title {
    font-size: 22px;
    margin: 20px 0px 5px 0px;
  }
  .videoRightSection {
    display: block;
    padding: 80px 0px;
    border-radius: 8px;
  }
  .textContent {
    color: white;
    padding: 0px !important;
    margin-top: 10px;
  }

  .textRightContent {
    padding: 0px !important;
    text-align: center;
  }
  .description {
    font-size: 1rem !important;
  }

  .subtitle {
    font-size: 2rem !important;
  }
  .videoPlaceholder {
    width: 250px;
    height: 180px;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
