.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
    border-radius: 12px;
    padding: 10px;
  }
  
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 10px;
  }
  
  .block {
    width: 120px;
    height: 25px;
    display: flex;
    padding: 2px;
    background-color: #f3f3f3;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    position: relative;
    justify-content: space-evenly;
    /* align-items: center; */
  }
  
  .blockTitle {
    font-weight: 500;
    font-size: 14px;
    /* margin-bottom: 10px; */
  }
  
  .ifConditionWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5px;
    width: 100%;
    max-width: 500px;
  }
  
  .trueCondition, .falseCondition {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  @media only screen and (max-width: 768px) {
    .blockTitle{
      font-size: 12px;
    }
    .block{
      width: 100px;
    }
}