.container {
    position: relative;
    display: flex;
    height: 65%;
    width: 50%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding-top: 20px;
}
@media (min-width: 1920px) {
    .container{
        width: 45%;
    }
}