.container {
    position: relative;
    display: flex;
    height: 65%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 12px;
    /* background-color: var(--background); */
}

.reviewCard {
    position: relative;
    width: 16rem;
    cursor: pointer;
    overflow: hidden;
    border-radius: 12px;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.01);
    transition: background-color 0.3s ease;
}

.reviewCard:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.reviewCardDark {
    border-color: rgba(255, 255, 255, 0.1);
    background-color: rgba(255, 255, 255, 0.1);
}

.reviewCardDark:hover {
    background-color: rgba(255, 255, 255, 0.15);
}

/* .userImage {
    border-radius: 50%;
} */

.userDetails {
    display: flex;
    flex-direction: column;
}

.caption {
    font-size: 0.875rem;
    font-weight: 500;
}

.username {
    font-size: 0.75rem;
    font-weight: 500;
    opacity: 0.4;
}

.blockquote {
    margin-top: 0.5rem;
    font-size: 0.875rem;
    text-align: left;
}

.gradientLeft {
    position: absolute;
    inset-y: 0;
    left: 0;
    width: 33.33%;
    pointer-events: none;
    background: linear-gradient(to right, white, transparent);
}

.gradientRight {
    position: absolute;
    inset-y: 0;
    right: 0;
    width: 33.33%;
    pointer-events: none;
    background: linear-gradient(to left, white, transparent);
}

.gradientDarkLeft {
    background: linear-gradient(to right, var(--background), transparent);
}

.gradientDarkRight {
    background: linear-gradient(to left, var(--background), transparent);
}