.container {
    position: relative;
    display: flex;
    height: 65%;
    width: 60%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 15px;
}

.text {
    pointer-events: none;
    white-space: pre-wrap;
    color: black;
    font-size: .5rem;
    font-weight: 600;
    line-height: 1;
    text-align: center;
}

.textDark {
    background: linear-gradient(to bottom, white, black);
}

.circleStyle {
    width: 27%;
    height: 25%;
    background-color: transparent;
}

.InnerCircleStyle{
    width: 45%;
    height: 50%;
    background-color: transparent;
}

.largeCircleStyle {
    width: 67%;
    height: 70%;
    border: none;
    background-color: transparent;
}

@media (min-width: 1100px) {
    .largeCircleStyle{
        width: 67% !important;        
    } 
} 

@media (min-width: 1000px)  and (max-width: 1099px) {
    .largeCircleStyle{
        width: 72% !important;        
    }    
}

@media (min-width: 880px)  and (max-width: 899px) {
    .largeCircleStyle{
        width: 95% !important;        
    }    
}
@media (min-width: 850px)  and (max-width: 879px) {
    .largeCircleStyle{
        width: 60% !important;        
    }    
}

@media (min-width: 931px)  and (max-width: 999px) {
    .largeCircleStyle{
        width: 84% !important;          
    }    
}
@media (min-width: 900px)  and (max-width: 930px) {
    .largeCircleStyle{
        width: 90% !important;        
    }    
}

@media (min-width: 1601px){
    .InnerCircleStyle{
        width: 31% !important;
    }    
}

@media only screen and (min-width: 1600px) {
    .circleStyle{
        width: 20% !important;
    }
    .largeCircleStyle{
        width: 48% !important;

    }
}

@media (min-width: 880px)  and (max-width: 950px) {
    .circleStyle{
        width: 35% !important;
    }    
}
@media (min-width: 769px)  and (max-width: 879px) {
    .circleStyle{
        width: 24% !important;
    }    
}


@media (min-width: 901px)  and (max-width: 1000px) {
    .InnerCircleStyle{
        width: 55% !important;
    }
}
@media (min-width: 880px)  and (max-width: 900px) {
    .InnerCircleStyle{
        width: 60% !important;
    }
}
@media (min-width: 826px)  and (max-width: 879px) {
    .InnerCircleStyle{
        width: 43% !important;
    }
}

@media (min-width: 769px)  and (max-width: 825px) {
    .InnerCircleStyle{
        width: 45% !important;
    }
}

@media only screen and (max-width: 768px) {
    .container{
        width: 90% !important;
    }
    .circleStyle{
        width: 15% !important;
    }

}

@media (min-width: 724px)  and (max-width: 768px) {
    .largeCircleStyle{
        width: 35% !important;        
    }    
}
@media (min-width: 630px)  and (max-width: 723px) {
    .largeCircleStyle{
        width: 40% !important;        
    }    
}
@media (min-width: 601px)  and (max-width: 629px) {
    .largeCircleStyle{
        width: 44% !important;        
    }    
}
@media (min-width: 701px)  and (max-width: 768px) {
    .InnerCircleStyle{
        width: 23% !important;
    }     
}
@media (min-width: 601px)  and (max-width: 700px) {
    .InnerCircleStyle{
        width: 27% !important;
    }     
}

@media (min-width: 443px)  and (max-width: 600px) {
    .circleStyle{
        width: 10% !important;
    }      
}

@media (min-width: 522px)  and (max-width: 600px) {
    .InnerCircleStyle{
        width: 15% !important;
    }
    .largeCircleStyle{
        width: 23% !important;        
    }    
}

@media (min-width: 443px)  and (max-width: 520px) {
    .InnerCircleStyle{
        width: 18% !important;
    }
    .largeCircleStyle{
        width: 29% !important;        
    }   
}

@media only screen and (max-width: 442px) {
    .circleStyle{
        width: 16% !important;
    }
    .InnerCircleStyle{
        width: 30% !important;

    }   
}

@media (min-width: 424px)  and (max-width: 442px) {
    .largeCircleStyle{
        width: 40% !important;        
    } 
} 
@media (min-width: 375px)  and (max-width: 423px) {
    .largeCircleStyle{
        width: 48% !important;        
    } 
} 
@media (min-width: 351px)  and (max-width: 374px) {
    .largeCircleStyle{
        width: 50% !important;        
    }
} 
@media (min-width: 321px)  and (max-width: 350px) {
    .largeCircleStyle{
        width: 50% !important;        
    }
} 

@media (min-width: 321px)  and (max-width: 400px) {
    .InnerCircleStyle{
        width: 34% !important;
    } 
}       


@media only screen and (max-width: 320px) {
    .circleStyle{
        width: 20% !important;
    }
    .InnerCircleStyle{
        width: 40% !important;
    }
   .largeCircleStyle{
    width: 57% !important;
   }
}