:root {
  --lightgreen: #81b5a1;
  --softgreen: #b9d0cc;
  --darkgreen: #293e40;
  --lightgrey: #697779;
  --lighytpurple: #8686bc;
  --darkpurple: #551a8b;
  --deeplightgrey: #e1e1e1;
  --lightblue: #cae5ec;
  --pinkmixorange: #f6e4e4;
  --white: #fff;
  --grey: #333;
  --deeplightgreen: #dff3eb;
  --seagreen: #2e8b57;
  --PinkmixGrey: #efefef;
  --semiDarkGrey: #e2e2e2;
  --BluemixWhite: #b8d9e2;
  --SeaBlue: #1e90ff;
  --BorderGrey: #ddd;
  --LiteBrownFont: #444;
  --LiteGreen: #81b5a1;
  --linkedInColor: #0073b1;
  --SmartrProfile: #099c8a;
  --indeedColor: #3d7eed;
  --litePurpleColor: #cfcfe4;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "AdobeClean-Regular", sans-serif;
  font-size: 16px;
  line-height: 1.5;

}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  --bacgrounds: #7060fe;
  --btncolor: #40d1ce;
  --textcolor: #e9e7fe;
  --hdcolor: #000036;
}

body {
  margin: 0;
  font-family: "AdobeClean-Regular";
  background-color: #f4f4f4;
  overflow-x: hidden;
}

body {
  --badge-color: #293e40;
  --bg-color: #668cff;
  --color: #414141;
  --background-color: #b0e1ce;
  --tcolor: #ffffff;
  --ffamily : "AdobeClean-Regular";
  --bacgrounds: #7060fe;
  --btncolor: #40d1ce;
  --textcolor: #e9e7fe;
  --hdcolor: #22242b;
}

body {
  --badge-color: #22242b;
  --bg-color: #668cff;
  --color: #414141;
  --background-color: #b0e1ce;
  --tcolor: #ffffff;
  --ffamily:"AdobeClean-Regular";
}

body {
  margin: 0;
  font-family: "AdobeClean-Regular";
  background-color: #FFFFFF;
  overflow-x: hidden;
}

a {
  color: rgba(107, 114, 128, var(--tw-text-opacity));
}

.slick-slider .slick-track {
  height: 450px !important;
}

.slick-slide{
  height: 0 !important;
}



@font-face {
  font-family: "AdobeClean-Bold";
  src: local("AdobeClean-Bold"), url("../public/fonts/Adobe/AdobeClean-Bold.ttf") format("opentype");
} 
@font-face {
  font-family: "AdobeClean-Black";
  src: local("AdobeClean-Black"), url("../public/fonts/Adobe/AdobeClean-Light.ttf") format("opentype");
}
@font-face {
  font-family: "AdobeClean-Italic";
  src: local("AdobeClean-Black"), url("../public/fonts/Adobe/AdobeClean-Italic.ttf") format("opentype");
}
@font-face {
  font-family: "AdobeClean-Semi";
  src: local("AdobeClean-Black"), url("../public/fonts/Adobe/AdobeClean-Semi.ttf") format("opentype");
}
@font-face {
  font-family: "AdobeClean-Regular";
  src: local("AdobeClean-Black"), url("../public/fonts/Adobe/AdobeClean-Regular.ttf") format("opentype");
}